@model IEnumerable<AlumniManagement.Entities.Alumnus>

@{
    ViewData["Title"] = "Index";
}

<style>
    input[type='checkbox'] { 
        width: 1.5rem !important;
        height: 1.5rem !important;
    }
</style>

<h1>Alumni</h1>

<p>
    <a class="btn btn-secondary" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.CourseGraduated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YearGraduated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkingStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentWork)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.CourseGraduated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YearGraduated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkingStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentWork)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            <td>
                @* <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> *@

                <a asp-action="Details" asp-controller="Alumni" class="btn btn-primary" asp-route-id="@item.Id">Details</a>
                <a asp-action="Edit" asp-controller="Alumni" class="btn btn-success" asp-route-id="@item.Id">Edit</a>
            </td>
        </tr>
}
    </tbody>
</table>

<footer class="footer text-center"> 2021 © Alumni Management brought to you by <a
    href="https://www.wrappixel.com/">wrappixel.com</a>
</footer>
